.navigation-container{
  display:flex;
  justify-content: space-between;
  width: 100%;
}
.name{
  justify-content: center;
  align-items: center;
  display: flex;
  
}
.list{
  display: flex;
    justify-content: center;
    align-items: center;
}
.blog svg{
  font-style:'segoeui';
}
ul{li:hover{
  opacity:.8;
}
}
.instagram{
  padding-left: 20px !important;
    margin-top: 10px;
}
.follow-us{
  margin-bottom: 8px;
}
.border{
  margin-top:1rem;
  border-top: 0.5px inset;
  padding-bottom: 1rem;
}
ul{li:hover{
 opacity:.8;
}
}
ul{h6{
  font-size:1.4rem;}
}

.nav-item{
  display: flex;
  align-items: center;
  padding: 18px 33px 18px 0px;
  font-weight:900;
  font-size:43px;
  cursor: pointer;

}
@media only screen and (max-width:992px){
  .nav-item{
    font-size:35px;
  }
  .list{
    width: 62%;
  }
  .blog{
    svg{
      width: 157px;
    }
  }
  .instagram{
    padding-left: 0px !important;
      margin-top: 0px;
  }
}
@media only screen and (max-width:620px){
  .nav-item{
    font-size:25px;
  }
  .list{
    width:'';
  }
  .blog{
    svg{
      width: 140px;
    }
  }
}

@media only screen and (max-width:480px){
  .blog{
    svg{
      min-width: 120px;
    }
  }
}
